
.container {
  width: 1170px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.drag-container {
  width: 100%;
}
.drag-column {
  background: #03A9F4;
  border-radius: 15px;
  text-align: left;
}

.drag-column h2 {
  text-transform: none;
  font-size: 22px;
  color: white;
  font-weight: 800;
}

.drag-item {
  border-radius: 10px;
  background: #0288D1;
  height: auto;
  position: relative;
  min-height: 100px;
}

.drag-item:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.is-moving {
  background: #0288D1 !important;
  color: white !important;
  transform: scale(1.1) !important;
}

.gu-transit {
  transform: scale(1) !important;
  opacity: 0.3;
}

.gu-mirror {
  opacity: 0.9;
}

.main__title {
  margin-bottom: 20px;
  font-size: 46px;
  text-align: left;
  font-weight: 900;
}

.drag-inner-list {
  min-height: 130px;
}

.task-number {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}

.description {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 500;
}

.start_date, .end_date, .end_date span {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}
.end_date {
  width: 75%;
}
.name {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.btn {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 0;
  outline: none;
}
.close {
  right: 10px;
  top: 10px;
  background: url("../img/close-white.svg");
}
.edit {
  right: 10px;
  bottom: 35px;
  background: url("../img/edit-white.svg");
}
.confirm {
  right: 10px;
  bottom: 10px;
  background: url("../img/check-mark-white.svg");
}
.add-card {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: url("../img/pluss-white.svg") center center no-repeat, #03A9F4;
  background-size: 60%;
  color: white;
  border: 0;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease all;
}
.add-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
