body {
    box-sizing: border-box;
    font-family: 'Raleway', Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, ul, ol, p {
    padding: 0;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    max-width: 1170px;
    width: 1170px;
    margin: 0px auto;
}

.header {
    padding: 60px 0px 45px 0px;
    display: flex;
    flex-direction: column;
}

.header__title {
    text-align: center;
    font-size: 35px;
    font-family: "Playfair Display";
    font-weight: 900;
    margin-bottom: 46px;
}

.header__menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.header__menu__item-link {
    font-size: 15px;
    text-transform: uppercase;
}

.header__menu__item-link:hover {
    text-decoration: underline;
}

.banner {
    height: 464px;
    box-sizing: border-box;
    background: url("../img/banner_bg.png") center center no-repeat;
    background-size: cover;
    color: white;
    padding: 60px 0px 45px 0px;
}

.banner > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.banner__new {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99px;
    height: 27px;
    font-size: 16px;
    background-color: #FF7931;
}

.banner__title {
    font-weight: lighter;
    text-align: center;
    font-size: 72px;
    text-transform: uppercase;
}

.banner__pagination {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.banner__pagination__prev, .banner__pagination__next, .banner__pagination__center {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.banner__pagination__center {
    cursor: default;
}

.banner__pagination__text {
    font-size: 13px;
}

.banner__pagination__line {
    width: 64px;
    height: 1px;
    background-color: white;
    margin: 0px 10px;
}

.banner__pagination__vertical_line {
    height: 42px;
    width: 1px;
    background-color: white;
    margin: 0px 15px;
}

.banner__pagination__rectangle {
    cursor: pointer;
}

.banner__pagination__rectangle-right {
    transform: rotate(180deg);
}

.banner__text {
    font-size: 14px;
    text-align: center;
    max-width: 456px;
    font-weight: lighter;
}

.content {
    padding-top: 100px;
}

.content > .container {
    display: flex;
    justify-content: space-between;
}

.content__left {
    width: 65%;
}

.content__right {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__block {
    width: 100%;
    box-sizing: border-box;
    height: 479px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0px 30px 0px;
    margin-bottom: 32px;
}

.content__balloons {
    background: url('../img/balloons_bg.png') center center no-repeat;
}

.content__block__title {
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Playfair Display";
    font-weight: 900;
    text-align: center;
    color: white;
}

.content__balloons__title {
    color: black;
}

.content__btn {
    box-sizing: border-box;
    border: 2px solid #FF7931;
    background: none;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47px;
    text-transform: uppercase;
    outline: none;
    color: white;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.content__balloons__btn {
    border: 0;
    background-color: #FF7931;

}

.content__balloons__btn-img {
    margin-left: 10px;
}

.content__photo {
    background: url('../img/photo_bg.png') center center no-repeat;

}

.content__bird {
    background: url('../img/exhibition-bird_bg.png') center center no-repeat;

}
.content__news {
    margin-bottom: 75px;
}
.content__news__title,.content__reviews__title {
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.content__news__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 334px;
}

.content__news__left {
    width: 470px;
}

.content__news__right {
    width: 270px;
    height: 100%;
}

.content__news__main {
    width: 100%;
    height: 334px;
    background: url("../img/culture_news_bg.png") center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 20px;
    transition: 0.3s ease all;
    cursor: pointer;
}

.content__news__main:hover .content__news__main-title {
    color: #FF7931;
}

.content__news__main-title {
    transition: 0.3s ease all;
    font-family: "Playfair Display";
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 5px;
}

.content__news__main-text {
    font-size: 14px;
    width: 90%;
}

.content__news__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    list-style: none;
}

.content__news__list__item {
    height: 91px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.3s ease all;
    position: relative;
}

.content__news__list__item:hover .content__news__list__item-img {
    filter: brightness(50%);
}

.content__news__list__item:hover .content__news__list__item-title {
    color: #FF7931;
}

.content__news__list__item:hover .content__news__list__item-flag {
    opacity: 1;
}

.content__news__list__item-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.content__news__list__item-img {
    height: 100%;
    width: 127px;
    margin-right: 10px;
    transition: 0.3s ease all;
}

.content__news__list__item-title {
    font-size: 14px;
    font-weight: 900;
    font-family: "Playfair Display";
    margin-bottom: 10px;
    transition: 0.3s ease all;
}

.content__news__list__item-text {
    font-size: 10px;
}

.content__news__list__item-flag {
    position: absolute;
    top: 6px;
    left: 106px;
    opacity: 0;
    transition: 0.3s ease all;
    z-index: 200;
}
.content__reviews__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content__reviews__list__item {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 50px;
    position: relative;
    cursor: pointer;
}
.content__reviews__list__item:hover .content__reviews__list-img{
    filter: brightness(50%);
}
.content__reviews__list__item:hover .content__reviews__list-title {
    color: #FF7931;
}
.content__reviews__list__item:hover .content__reviews__list-bottom {
    opacity: 1;
}
.content__reviews__list__item:hover .content__reviews__list-flag {
    opacity: 1;
}
.content__reviews__list-img {
    transition: 0.3s ease all;
}
.content__reviews__list-title {
    font-family: "Playfair Display";
    font-size: 23px;
    font-weight: 900;
    margin: 10px 0px;
}
.content__reviews__list-text {
    font-size: 14px;
}
.content__reviews__list-flag {
    z-index: 200;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: 0.3s ease all;
}
.content__reviews__list-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 175px;
    left: 20px;
    width: 100px;
    opacity: 0;
    transition: 0.3s ease all;
}
.content__reviews__list-bottom-part {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgrey;
    font-weight: 100;
    transition: 0.3s ease all;
}
.content__reviews__list-bottom-part img {
    margin-right: 5px;
}
.content__reviews__pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 426px;
    color: #A6A6A6;
    margin: 0px auto;
}
.content__reviews__pagination-aside {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.content__reviews__pagination-line {
    background-color: #A6A6A6;
    width: 1px;
    height: 27px;
    margin: 20px;
}
.content__reviews__pagination-right_rerectangle {
    transform: rotate(180deg);
}
.content__reviews__pagination-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
}
.content__reviews__pagination-number {
    font-size: 14px;
    cursor: pointer;
}
.content__reviews__pagination-number-active {
    color: black;
    font-size: 20px;
    border-bottom: 3px solid #FF7931;
}