body {
    box-sizing: border-box;
    font-family: "Roboto Slab", "Times New Roman", serif;
    color: #191919;
}
@media print {

}
ul, ol, p, h1, h2, h3, h4, h4, h6 {
    padding: 0;
    margin: 0;
}

button, input {
    outline: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: #191919;
}

.container {
    width: 1170px;
    margin: 0px auto;
}

header {
    height: 100vh;
    background: url("../img/header_bg.jpg") no-repeat;
    color: white;
}

header > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header__top {
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

.header__logo__img {
    transition: 0.3s ease all;
}

.header__logo__img:hover {
    transform: scale(1.1);
}

.header__title {
    font-weight: bolder;
    text-align: center;
    font-size: 72px;
    margin-top: -100px;
}

.header__menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.header__menu__item {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    transition: 0.3s ease all;
    position: relative;
}

.header__menu__item:hover .header__menu__item__img {
    margin-right: 10px;
    transform: scale(1.2);
}

.header__menu__item__link:hover {
    text-decoration: underline;
}

.header__menu__item__link {
    color: white;
    font-size: 18px;
    line-height: 25px;
    transition: 0.3s ease all;
}

.header__menu__item__img {
    margin-right: 5px;
    transition: 0.3s ease all;
    height: 20px;
}

.header__arrow {
    margin-bottom: 100px;
    transform: rotate(90deg);
}

.header__arrow__img {

    width: 40px;
    transition: 0.3s ease all;
}

.header__arrow__img:hover {
    transform: scale(1.1);

}